* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'abel', sans-serif ;
}
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;
    background: #244977;
}
.nav-bar {
    display: flex;
    list-style: none;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;

}

.hero {
    height: 60vh;
    width: 100%;
    background-image: url(../food-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

h1 {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 30px;
    text-transform: capitalize;
}

h3 {
    color: #a9a6f7;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #b3aef7;
    letter-spacing: 2px;
    font-size: 20px;
}
.input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.form {
    width: 30%;
    height: 50px;
    background: transparent;
    border: 4px solid #b5c4c6;
    margin: 10px 0px;
    border-radius: 50px;
    padding: 0 10px;
    color: #e2f2f4;
    font-size: 20px;
    outline: none;
}

.button-btn {
    background-color: #183354;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 15px 25px;
    transform: .4s;
    border-radius: 50px;
}

.button:hover {
    background-color: #fff;
    color: #213032;
}

.about {
    /* width: 100%; */
    padding: 100px 0px;
    background: #d1d2d3;
}
.about img {
    height: auto;
    width: 400px;
    border-radius: 20px 0 20px 0;
}
.about h2 {
    color:#0d120d;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}  
.about-text p {
    color: #dcf2f4;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    padding: 40px;
    background-color: #183354;
    border-radius: 20% 15px 8%;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.recipe {
    width: 100%;
    padding: 40px 0px;
    background-color: #D1D2D3;
}
.recipe h2 {
    color: #051207;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-detail {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card-detail img {
    width: 100%;
    object-fit: cover;
}

.box .card-detail .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card-detail:hover .content {
    opacity: 1;
}

.card-detail h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}

.box .card-detail p {
    font-size: 14px;
    margin-bottom: 10px;
}

.box .card-detail button {
    position: relative;
    background-color: #5d65a1;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform: .4s;
    padding: 13px 30px;
}

.box .card button:hover {
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
/* Modal Background */
.modal {  
  display: none;   
  position: fixed;   
  z-index: 1;   
  left: 0;   
  top: 0;   
  width: 100%;   
  height: 100%;   
  overflow: auto;   
  background-color: rgb(0,0,0);   
  background-color: rgba(250, 246, 246, 0.4);   
  transition: ease-in 0.5s;
  
}  

.modal-content {  
  margin: 15% auto;   
  padding: 20px; 
  background-color: #c7d1d2;  
  border: 1px solid #888;   
  width: 60%;   
}
.btn-close {
    position: absolute;
    top: -1rem;
    right: -1rem;
    color: #5d65a1;
}
.btn .btn-danger{
     background-color: #183354;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 15px 25px;
    transform: .4s;
    border-radius: 50px;
}

/* categories section */
.categories {
    width: 100%;
    padding: 15px 0px 10px;
    background-color: #244977;
}

.categories h2 {
    color: #171e18;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.ca-card {
    position: relative;
    width: 220px;
    height: 200px;
    margin: 12px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;

}
.box .ca-card .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .ca-card:hover .content {
    opacity: 1;
}

.ca-card h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}

.box .ca-card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.box .ca-card button {
    position: relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform: .4s;
    padding: 5px 8px;
}

.box .ca-card button:hover {
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}

.box .ca-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Contact form*/
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #183354;
}

.contact-info,
.contact-form {
    /* width: 100%; */
    max-width: 400px;
    margin: 20px;
    text-align: center;
    color: #e1ddd4;
    font-size: 25px;
}

.contact-info h2,
.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #edffef;
}

.contact-form form {
    text-align: center;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form button {
    padding: 10px;
    font-size:1.2rem;
    background-color: #244977;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    transform: .4s;
    padding: 10px 0px;
    
}

.contact-form button:hover {
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}

.contact-form label {
    text-align: left;
    color: #edffef;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
}

.contact-info p {
    padding: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}

.social-icon:hover {
    color: #dbf5f8;
    cursor: pointer;
}

footer {
    padding: 10px 0px;
    background: #e3dfd7;
}

footer h5 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}
.search-box {
    /* text-align: center; */
    
    padding: 20px;
}
.pointer {
    cursor: pointer;
}

.ingredients p {
    padding-right: 15px;
    color: #16b2d5;
    font-size: 17px;
}
